// ITALIC INPUT //
@mixin placeholder__font {
   input::-webkit-input-placeholder {
        font-style: italic;
     }
     input::-moz-placeholder {
        font-style: italic;  
     }
    
}



// STYLE FOR ALL BUTTONS//
@mixin mainBtn() {
   button{
      display: block;
      background-color: $btnColors;
      font-size: $mainFont;
      border-radius: $borderRadius;
      font-size: $btnFont;
      border:none;
      color: $colorBtn; 
      transition: color .5s;
         &:hover{
            color: $colorHover;
         }
         &:focus{
            outline: none;
         }
   }
}

// STYLE FOR ALL H1 TEG//
@mixin h1 {
   h1{
   font-size: $h1;
   font-weight: bold;
   text-align: center;
   text-transform: uppercase;
   }  
}

// MIXIN FOR ADDING BACKGROUNDS//
@mixin mSection($name){
      $url:"/img/#{$name}.svg";
      background: url($url);
      height: 75vh;
      background-repeat: no-repeat;
   
}

// STYLE FOR TRANSITION FOOTER`S ICONS //
@mixin transitionIcons {
   transition-property: color, border-radius, background-color;
   transition-duration: .7s;
   transition-delay: .1s;
   transition-timing-function: ease;
}

// FOR ADDING BG COLOR TO FOOTER`S  ICONS //
@mixin iconsBack($bg) {
   color: #fff;
   width: 60px;
   margin: 0 auto;
   border-radius: 10px;
   background-color: $bg;
   
}
