@mixin placeholder__font {
   input::-webkit-input-placeholder {
        font-style: italic;
     }
     input::-moz-placeholder {
        font-style: italic;  
     }
    
}

@mixin mainBtn() {
   button{
      display: block;
      background-color: $btnColors;
      font-size: $mainFont;
      border-radius: $borderRadius;
      font-size: $btnFont;
      border:none;
      color: $colorBtn; 
         &:hover{
            color: $colorHover;
         }
   }
}

@mixin h1 {
   h1{
   font-size: $h1;
   font-weight: bold;
   text-align: center;
   text-transform: uppercase;
   }  
}

@mixin pText {
   .pText{
   font-size: $mainFont;
   line-height: 2em;
   }
}

@mixin mSection($name){
      $url:"/img/#{$name}.svg";
      background: url($url);
      height: 75vh;
      background-repeat: no-repeat;
   
}