// SECTION TWO//
.second-section{
    height: auto;
    padding: 80px 0;
    background-color: $bgColor;  
    
     .second-wrapper{ 

         max-width: 95%;
         margin: 0 auto;
         padding-top: 30px; 
       // CONTENT OF SECOND SLIDER//
       .second-slider{
         width: 85%;
         margin: 0 auto;
       }
        .second-slider__box{
            max-width: 310px;
            margin: 20px;
                .second-slider__img{
                   margin: 0 auto 15px;
                    height: 305px;
                    width: 190px;
                  border-radius: 20px;
                }
                h4{
                    text-align: center;
                    margin-bottom: 20px;
                }
                    button{
                        display: block;
                        margin: 0 auto;
                        padding: 5px 20px;
                        margin-bottom: 15px;
                    }
        }
    }
}