@model BookStore.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutPassowrd.cshtml";
    ViewBag.Title = "Forgot your password?";
}

<div class="img">
    <img src="~/Content/img/undraw_forgot_password_gi2d.svg">
</div>
<div class="login-content">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <img src="~/Content/img/avatar.svg">
        <h2 class="title">Enter your email address</h2>

        <div class="input-div one">
            <div class="i">
                <i class="fas fa-user"></i>
            </div>

            <div class="div">
                <h5>Email</h5>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control input" })

            </div>
        </div>
        <input type="submit" class="btn" value="Confirm">
        @Html.ValidationSummary("", new { @class = "text-danger validation-summary-errors" })

    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
