@{
    Layout = "~/Views/Shared/_LayoutPassowrd.cshtml";

    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="img">
    <img src="~/Content/img/undraw_mail_2_tqip.svg">
</div>
<div class="login-content">
    @using (Html.BeginForm("Login", "Account", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
    {

        <h2 class="title">Check youre e-mail</h2>

        <input type="submit" class="btn" value="Confirm">

    }
</div>

