@{
    Layout = "~/Views/Shared/_LayoutPassowrd.cshtml";

    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="img">
    <img src="~/Content/img/undraw_mail_2_tqip.svg">
</div>
<div class="login-content">
    <form action="login.html">

        <h2 class="title">Check youre e-mail</h2>

    </form>
</div>

